MONGO_URI =
ZOHO_CLIENT_ID =
ZOHO_CLIENT_SECRET =
ZOHO_REDIRECT_URI =
ZOHO_REDIRECT_URI_WORKDRIVE =
WRITER_DOCUMENT_ID =
EXPRESS_SESSION_SECRET =

ZOHO_SHEET_URL =
ZOHO_SHEET_LIVE_URL =
SMTP_PASSWORD =  
DEFAULT_FRONTEND_URL =
ALLOWED_ORIGINS =  
INVESTWELL_AUTHNAME =
INVESTWELL_PASSWORD =
KYC_STATUS_API_URL =
MINT_X_API_KEY =  
VITE_SAVED_FILTER_LIMIT =  
TWO_FACTOR_API_KEY =  

JWT_SECRET =
WA_TOKEN =
WA_BROADCAST =
WA_BROADCAST_CHANNEL =

SPRING_VERIFY_TOKEN =
NDA_ZOHO_REFRESH_TOKEN = 
NDA_ZOHO_CLIENT_ID = 
NDA_ZOHO_CLIENT_SECRET = 
NDA_REDIRECT_HOST_URL = 

WEB_HOOK_ZOHO_CLIENT_ID = 
WEB_HOOK_ZOHO_CLIENT_SECRET = 
WEB_HOOK_ZOHO_REFRESH_TOKEN = 

AZURE_STORAGE_CONNECTION_STRING =
ONBOARDING_FORM_LINK =

INSURANCE_LEADS_API_URL =

INSURANCE_PAYOUT_DATA_URL =
UPDATE_INSURANCE_PAYOUT_URL =
INSURANCE_EARLY_PAYOUT_URL =

GOOGLE_MAPS_API_KEY =
