MONGO_URI = 
ZOHO_CLIENT_ID =
ZOHO_CLIENT_SECRET =
ZOHO_REDIRECT_URI =
ZOHO_REDIRECT_URI_WORKDRIVE =
EXPRESS_SESSION_SECRET =

ZOHO_SHEET_URL =
ZOHO_SHEET_LIVE_URL =
SMTP_PASSWORD = 
DEFAULT_FRONTEND_URL =
ALLOWED_ORIGINS = 
INVESTWELL_AUTHNAME =
INVESTWELL_PASSWORD =
KYC_STATUS_API_URL =
MINT_X_API_KEY = 
VITE_SAVED_FILTER_LIMIT = 5
TWO_FACTOR_API_KEY =
JWT_SECRET =
SPRING_VERIFY_TOKEN = 

NDA_ZOHO_REFRESH_TOKEN = 
NDA_ZOHO_CLIENT_ID = 
NDA_ZOHO_CLIENT_SECRET = 

WEB_HOOK_ZOHO_CLIENT_ID = 
WEB_HOOK_ZOHO_CLIENT_SECRET = 
WEB_HOOK_ZOHO_REFRESH_TOKEN = 